name: jichan
version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PW}
      MYSQL_USER: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_USERNAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PW}"]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 3s
      start_interval: 3s
  
  backend:
    build: ./
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${MYSQL_USERNAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      
volumes:
  db_data: