name: jichan
version: '3.8'
services:
  backend:
    build: ./
    ports:
      - "8080:8080"
    env_file:
      - ./.env
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${MYSQL_USERNAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    volumes:
      - ./logs:/app/logs